In [3]:
print("Hello World")

Hello World

In [7]:
##############################################################
#            This is where you start programming             #
##############################################################


# computing literal values
print(1+1)
print(2+2)

# int 0 ... 9
# float 0.0
# strings "words"
# boolean: true or false

2
4

In [8]:
#modulus
2%3

2

In [10]:
#exponentiation
2**2

4

In [11]:
# division
10/2

5.0

In [21]:
from math import *

max(10, 20, 30, 40)
min(10, 20, 30, 40)
sqrt(9)

3.0

In [23]:
#variables

firstNum = 2
secondNum = 3

result= firstNum + secondNum

print("The result of ", firstNum, "+", secondNum, "is", result)

The result of  2 + 3 is 5

In [6]:
name = "Estela Oganiza"
address = "Batasan Hills QC"
age = 18
bdate = "08/29/05"
temperature = 34.4

# concatenation

print("The name of the guest is", name, "\n and lives in", address,
        "\n age of", age, "\n with birthday of", bdate, "\n temp of", temperature
      )

The name of the guest is Estela Oganiza
 and lives in Batasan Hills QC
 age of 18
 with birthday of 08/29/05
 temp of 34.4

In [10]:
#relational operations
# >, <, >=, <=, !=

10>5

if 10 >= 20: 
    print("Your condition is True")
else:
    print("Your condition is False")

Your condition is False

In [17]:
# put any number from 50 to 100
# then make an if else condition if passed or failed
# greater than 50 "Passed" else less than 50 is "Failed"
# int (typecast)
grade = int(input("input a number"))
print(grade)

if grade <= 100:
    if grade>=50:
        print("Passed")
    else: 
        print("Failed")
else:
    print("The grade is over 100")

125
The grade is over 100

In [19]:
grade = int(input("input a number"))

if grade < 0 or grade > 100: # checks the grade is invalid
    print("The grade is invalid")
else:
    # it is nested
    if grade>=50:
        print("Passed")
    else: 
        print("Failed")

The grade is invalid

In [25]:
array = [1,2,3,4] # List python

for x in range(4):
    print("Hello World", x)

for x in array:
    print("Hello World", x)

Hello World 0
Hello World 1
Hello World 2
Hello World 3
Hello World 1
Hello World 2
Hello World 3
Hello World 4

In [3]:
for x in range(0,20,2):
    print(x)

array=range(0,20,2)

for x in array:
    print(x)

0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18

In [12]:
# list concept

array = [1,2,3,4,5,6]

array = [1.0,2.0,3.0,4.0,5.0,6.0]
print(array)

print(type(array))

array[3]

#slicing

#prefix of the list
array[:4]
#suffix
array[4:]
#infix
array[2:4]

array2=["Word",1.2,234,"t", True]
print(array2)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]
<class 'list'>

[3.0, 4.0]

In [28]:
#Multi dimensional array

oneD=[1,2,3,4]
twoD=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
    ]             #3X3


print(twoD[2][1])
print(twoD[1:2])


submatrix = [row[0:2] for row in twoD[:2]]


submatrix = [row[1:] for row in twoD[1:]]
print(submatrix)
# print(oneD)

8
[[4, 5, 6]]
[[5, 6], [8, 9]]

In [40]:
#Dictionaries

person = {
    "name":"Estela", 
    "address": "QC",
    "birthday": "08/29/23",
    "temp":24.7
    }
    
type(person)

#appends a new dictionary tag to the existing dictionary
person["occupation"]="Statistician"

print(person)

{'name': 'Estela', 'address': 'QC', 'birthday': '08/29/23', 'temp': 24.7, 'occupation': 'Statistician'}

In [51]:
#Dictionaries

personlist = [{
    "name":"Estela", 
    "address": "QC",
    "birthday": "08/29/23",
    "temp":24.7
    },
    {
    "name":"Mariz", 
    "address": "Manila",
    "birthday": "08/29/23",
    "temp":35.1
    }
]
    

personlist[0]['name']
#loop in a dictionary list
for row in personlist: 
    print(row["name"])



new_person= {"name":"Jean",
             "address":"BGC",
             "birthday": "01/24/23",
             "temp": 36.1
             }

personlist.append(new_person)

print(personlist)

Estela
Mariz
[{'name': 'Estela', 'address': 'QC', 'birthday': '08/29/23', 'temp': 24.7}, {'name': 'Mariz', 'address': 'Manila', 'birthday': '08/29/23', 'temp': 35.1}, {'name': 'Jean', 'address': 'BGC', 'birthday': '01/24/23', 'temp': 36.1}]

In [53]:
import csv
field_names = ["name", "address", "birthday", "temp"]
with open("person.csv", mode="w", newline="") as file:
    writer = csv.DictWriter(file, fieldnames=field_names)

    writer.writeheader()

    for person in personlist:
        writer.writerow(person)

print("CSV file 'person.csv' created successfully.")

CSV file 'person.csv' created successfully.

In [12]:
import csv

personlist = []

with open("person.csv", mode="r") as file:
    reader = csv.DictReader(file)
    for row in reader: 
        personlist.append(row)

for person in personlist:
    print(person["name"])

Estela
Mariz
Jean